<header class="info-header">
  <div class="wrapper">
    <!-- <a href="#"><img src="{{site.baseurl}}/images/facebook-white.svg" class="facebook-icon" /></a> -->
    <a href="#"><img src="{{site.baseurl}}/images/pinterest-white.svg" class="pinterest-icon" /></a>
    <a href="tel:+14147557837">Call at (414) 755-STEP (7837)</a>
  </div>
</header>

<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{site.baseurl}}/">
      <img class="logo" src="{{site.baseurl}}/images/logo.svg" />
      <h2>Stepping Stone Nutrition, LLC</h2>
    </a>
    <nav class="desktop">
      <ul>
        <li><a href="{{site.baseurl}}/biography">Biography</a></li>
        <li><a href="{{site.baseurl}}/pricing">Pricing</a></li>
        <li><a href="{{site.baseurl}}/contact">Contact Us</a></li>
      </ul>
    </nav>
    <nav class="mobile">
      <select id="mobile-select">
        <option value="{{site.baseurl}}/">Home</option>
        <option {% if page.section == 'biography' %}
                selected
                {% endif %} value="{{site.baseurl}}/biography">Biography</option>
        <option {% if page.section == 'pricing' %}
                selected
                {% endif %} value="{{site.baseurl}}/pricing">Pricing</option>
        <option {% if page.section == 'contact' %}
                selected
                {% endif %} value="{{site.baseurl}}/contact">Contact Us</option>
      </select>
    </nav>
  </div>
</header>
