<header class="info-header">
  <div class="wrapper">
    <a><img src="{{site.baseUrl}}/images/facebook-white.svg" class="facebook-icon" /></a>
    <a><img src="{{site.baseUrl}}/images/pinterest-white.svg" class="pinterest-icon" /></a>
    <a href="tel:+14147557837">Call at (414) 755-STEP (7837)</a>
  </div>
</header>

<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{site.baseUrl}}">
      <img class="logo" src="{{site.baseUrl}}/images/logo.svg" />
      <h2>Stepping Stones Nutrition, LLC</h2>
    </a>
    <nav class="desktop">
      <ul>
        <li><a href="{{site.baseUrl}}/biography">Biography</a></li>
        <li><a href="{{site.baseUrl}}/pricing">Pricing</a></li>
        <li><a href="{{site.baseUrl}}/contact">Contact Us</a></li>
      </ul>
    </nav>
    <nav class="mobile">
      <select id="mobile-select">
        <option value="{{site.baseUrl}}">Home</option>
        <option {% if page.section == 'biography' %}
                selected
                {% endif %} value="{{site.baseUrl}}/biography">Biography</option>
        <option {% if page.section == 'pricing' %}
                selected
                {% endif %} value="{{site.baseUrl}}/pricing">Pricing</option>
        <option {% if page.section == 'contact' %}
                selected
                {% endif %} value="{{site.baseUrl}}/contact">Contact Us</option>
      </select>
    </nav>
  </div>
</header>
